//---------------------------
// FORM

@import "variables";

//---------------------------
// FORM: fields

.field {
    margin-bottom: $spacing-2;
}

//---------------------------
// FORM: labels

.label {
    color: $gray-coal;
    font-weight: $font-bold;
    margin-bottom: $spacing;
    display: block;

    &--lg {
        font-size: $font-size-lg;
    }
    &--inverse {
        color: $white;
    }
}

//---------------------------
// FORM: placeholder

// use the mixin like this:
// @include input-placeholder {color: red;}
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin form-focus {
    outline: 0;
    border: toRem(1px) solid $color-focus;
    transition: $transition-linear;
}

// ---------------------------------------------
// FORMS: TEXT INPUTS, TEXTAREAS, SELECTS

// Form Styling: Text Inputs, Textareas, Selects: Mixin
//  - All parameters have defaults
//  - Parameters:
//    - $color {string} : Text color
//    - $color-bg {string} : Background color
//    - $color-border {string} : Border color
//    - $color-placeholder {string} : Placeholder color

@mixin form-text($color: $gray-coal, $color-bg: $white, $color-border: $color-input-border, $color-placeholder: $color-input-placeholder){
    color: $color;
    background-color: $color-bg;
    border: toRem(1px) solid $color-border;
    border-radius: $border-radius-xl;
    font-size: $font-size;
    font-family: $font-family-1;
    line-height: $line-height;
    padding: $btn-padding-v $btn-padding-h-sm;
    display: block;
    width: 100%;
    transition: $transition-linear;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }

    @include input-placeholder {
        color: $color-input-placeholder;
    }
}

.form-text {
    @include form-text;
    &--select {
        background-image: url("#{$svg-path}/icons/icon-chevron-down.svg");
        background-repeat: no-repeat;
        background-position: right $spacing center;
        background-size: toRem(18px);
        appearance: none;
    }
}

textarea {
    min-height: toRem(110px);
    resize: vertical;
}

// ---------------------------------------------
// FORMS: INPUTS: GROUP
// Use for text inputs and textareas with a label or icon that appears to be inside the input

// Input Group Mixin
//  - All parameters have defaults
//  - Parameters:
//    - $color {string} : Text color
//    - $color-bg {string} : Background color
//    - $color-border {string} : Border color

@mixin input-group ($color: $color-font, $color-bg: $white, $color-border: $color-input-border) {
    color: $color;
    background-color: $color-bg;
    border: toRem(1px) solid $color-border;
    border-radius: $border-radius-xl;
    display: flex;
}

.input-group {
    @include input-group;
}


.input-group-text {
    @include  form-text($color-bg: transparent);
    border: none;
}

.input-group-label {
    color: $gray-cement;
    font-weight: $font-bold;
    text-transform: uppercase;
    padding: 0 ($spacing * 1.5);
    align-self: center;
}

// ---------------------------------------------
// FORMS: TEXT INPUTS, TEXTAREAS, SELECTS: SIZES

@mixin form-text--sm {
    font-size: $font-size-sm;
    padding: $btn-padding-v-xs $spacing;
}

.form-text--sm {
    @include form-text--sm;
}

// ---------------------------------------------
// FORMS: INPUT: FILE: CUSTOM: WITH IMAGE PREVIEW

.input-file {
    opacity: 0;
    position: absolute;
}

.input-file-label {
    font-size: $font-size-lg;
    text-transform: capitalize;
    padding-inline: ($spacing * 6);
    position: relative;
}

.input-file-img {
    border-radius: 50%;
    width: toRem(46px);
    height: toRem(46px);
    display: block;
    position: absolute;
    left: toRem(-2px);
    top: toRem(-1px);
    object-fit: cover;
}

