//---------------------------
// Spacing

@import 'variables';

// Sass Map to store spacing values
$spacing-map: (
        "spacing": $spacing,
        "spacing-2": $spacing-2,
        "spacing-3": $spacing-3,
        "spacing-4": $spacing-4,
        "spacing-5": $spacing-5,
        "spacing-6": $spacing-6,
        "spacing-7": $spacing-7,
        "spacing-8": $spacing-8,
        "spacing-half": $spacing-half,
        "spacing-xl": $spacing-xl,
);

// @each Sass loop to generate classes
@each $name, $value in $spacing-map {

    // Spacing: all sides
    .#{$name} {
        padding: $value;
    }

    // Spacing: horizontal
    .#{$name}-h {
        padding-inline: $value;
    }

    // Spacing: vertical
    .#{$name}-v {
        padding-top: $value;
        padding-bottom: $value;
    }

    // Spacing: left
    .#{$name}-l {
        padding-left: $value;
    }

    // Spacing: right
    .#{$name}-r {
        padding-right: $value;
    }

    // Spacing: top
    .#{$name}-t {
        padding-top: $value;
    }

    // Spacing: bottom
    .#{$name}-b {
        padding-bottom: $value;
    }

}