//---------------------------
// TYPOGRAPHY
@import 'variables';

//---------------------------
// TYPOGRAPHY: fonts: families

.font-family-1 {
    font-family: $font-family-1;
}

//---------------------------
// TYPOGRAPHY: FONTS: SIZES
// E.G. font-size, font-size-sm, font-size-lg

// Sass Map to store font-sizes
$font-sizes-map: (
        "font-size": $font-size,
        "font-size-xs": $font-size-xs,
        "font-size-sm": $font-size-sm,
        "font-size-lg": $font-size-lg
);

// @each Sass loop to generate classes
@each $name, $value in $font-sizes-map {
    .#{$name} {
        font-size: $value;
    }
}

//---------------------------
// TYPOGRAPHY: FONTS: WEIGHTS
// E.G. font-regular, font-semi-bold, font-bold

// Sass Map to store font-weights
$font-weights-map: (
        "font-regular": $font-regular,
        "font-semi-bold": $font-semi-bold,
        "font-bold": $font-bold
);

// @each Sass loop to generate classes
@each $name, $value in $font-weights-map {
    .#{$name} {
        font-weight: $value;
    }
}

//---------------------------
// TYPOGRAPHY: alignment

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

//---------------------------
// TYPOGRAPHY: text

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

//---------------------------
// TYPOGRAPHY: html elements

strong, b {
    font-weight: $font-bold;
}

em, i {
    font-style: italic;
}

// HTML Elements: Headings

$heading-sizes-map: (
        "h1": $h1,
        "h2": $h2,
        "h3": $h3,
        "h4": $h4,
        "h5": $h5,
        "h6": $h6
);

// @each Sass loop to generate styles for HTML Headings h1 - h6
@each $name, $value in $heading-sizes-map {
    #{$name} {
        font-size: $value;
        color: $gray-coal;
        font-weight: $font-semi-bold;
        line-height: 1.2;
        margin: 0 0 $spacing-2;
    }
}

// HTML Elements: paragraphs
p {
    margin-bottom: $spacing;
}

// HTML Elements: Lists: unordered and ordered
ul, ol {
    list-style-position: inside;
    margin-bottom: $spacing;
    padding-left: $spacing;

    li {
        margin-bottom: $spacing;
    }
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

// HTML Elements: Links

a, .link {
    color: $color-link;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-linear;

    &:hover {
        color: $color-link-hover;
    }

    &:focus {
        outline: 1px solid $color-focus;
    }
}

//--------------
// TYPOGRAPHY: links: action

.link-action {
    color: $brand-2;
    font-weight: $font-bold;
}

.link-action-icon {
    color: $brand-1-light;
    display: inline-block;
    vertical-align: middle;
}

.link-action-text {
    text-transform: uppercase;
    vertical-align: middle;
}


// HTML Elements: Lists: Reset styling
@mixin list-reset {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
        margin-bottom: 0;
    }
}

.list-reset {
    @include list-reset;
}
